:root {
  /* fonts */
  --main-font: "PT Sans", sans-serif;
  --second-font: "Playfair Display", serif;

  /* colors */
  --main-dark-color: #000000;
  --second-dark-color: #0f0f0f;
  --back-dark-color: #191b1c;
  --main-light-color: #ffffff;
  --gray-color: #969696;
  --light-gray-color: #d0d0d0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: var(--main-light-color);
  max-width: 1920px;
  background-color: var(--main-dark-color);
  margin: auto;
}

/* common styles */
.link {
  text-decoration: none;
  color: inherit;
}

.btn-trans {
  background: transparent;
  border: 1px solid var(--main-light-color);
  outline: none;
  color: var(--main-light-color);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 12px 28px;
  margin: 0 auto;
  display: block;
}

.btn-trans:hover {
  transition: 1s ease-in-out;
  background: var(--light-gray-color);
  color: var(--main-dark-color);
  font-weight: 700;
}

img {
  transition: transform 0.25s;
}

/* header */
.header {
}

.top-line {
  height: 44px;
}

.top-line-row {
  height: 44px;
}

.telephone-icon {
  color: var(--gray-color);
  width: 16px;
  height: 16px;
  margin-right: 15px;
}

.top-line-menu {
  font-size: 12px;
  line-height: 1.34;
  color: var(--gray-color);
}

.top-line-menu:hover {
  color: var(--main-light-color);
}

.box-arrow-icon {
  color: var(--gray-color);
  width: 14px;
  height: 14px;
  margin-right: 19px;
}

.second-line {
  background-color: var(--second-dark-color);
  height: 80px;
}

.second-line-row {
  height: 80px;
}

.logo {
  font-family: "post-no-bills-jaffna-bold", sans-serif;
  font-size: 36px;
  line-height: 1.5;
  color: var(--main-light-color);
  font-weight: 700;
  text-transform: uppercase;
  margin: auto 0px;
}

.logo:hover {
  color: var(--light-gray-color);
}

.navigat {
  line-height: 1.29;
  text-transform: uppercase;
  color: var(--gray-color);
  padding: 31px 20px;
}

.navigat:hover {
  background-color: #1f1f1f;
  color: var(--main-light-color);
}

.cart-icon {
  width: 22px;
  height: 22px;
  color: var(--main-light-color);
}

.search-icon {
  width: 22px;
  height: 22px;
  color: var(--main-light-color);
}

/* main */
/* hero-section */

.hero-section {
  height: 810px;
}

.hero-rectange {
  width: 320px;
  height: 320px;
  border: 4px solid var(--main-light-color);
  position: absolute;
  left: calc(50% - 160px);
  top: 284px;
}

.hero-logo {
}

.hero-logo-h1 {
  font-family: "post-no-bills-jaffna-bold", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.5;
  text-align: center;
  color: var(--main-light-color);
  text-transform: uppercase;
  border-bottom: 2px solid var(--main-light-color);
  width: 185px;
  height: 86px;
  display: block;
  margin: 93px auto 3px;
}

.hero-logo-undersigna {
  font-size: 22px;
  line-height: 1.27;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-light-color);
}

.image-caption {
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;

  text-transform: uppercase;
  color: var(--main-light-color);
  width: 730px;
  height: 96px;
  margin-top: auto;
}

/* collection section */

.collections-section {
}

.title-row {
  height: 232px;
}

.title-discription {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-light-color);
}

.title-under-line {
  width: 120px;
  height: 0px;
  border: 1px solid var(--main-light-color);
  margin: 30px auto;
}

.watch-card-row {
  width: 1040px;
}

.watch-card {
}

.watch-card-product {
  width: 260px;
  height: 405px;
}

.watch-card-img {
  align-self: center;
  width: 260px;
  height: 325px;
  background: #191b1c;
  margin-bottom: 25px;
  overflow: hidden;
}

.watch-card-product:hover img {
  transform: scale(1.1);
}

.watch-card-discription {
}

.watch-card-name {
  font-family: var(--second-font);
  font-size: 18px;
  line-height: 1.33;
  color: var(--main-light-color);
}

.wath-card-price {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--light-gray-color);
}

.collection-img {
  position: relative;
  width: 880px;
  height: 730px;
}
.collection-img-title {
  position: absolute;
  right: 252px;
  top: 484px;
}

.collection-img2 {
  width: 936px;
  height: 600px;
}
.collection-img-title2 {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
.collection-img-text {
  width: 628px;
  line-height: 1.5;
  text-align: center;
  align-self: center;
}

/* font-face */

@font-face {
  font-family: "post-no-bills-jaffna-bold";
  src: url("../fonts/PostNoBillsJaffna-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
